<div class="row">


	<div class="col-sm-4 col-sm-offset-1">

		<?php $this->form->setAttribute('action', $this->url('convert')) ?>

		<?= $this->form()->openTag($this->form); ?>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">RBL</div>
				<?= $this->formElement($this->form->get('currency_from')) ?>
				<div class="input-group-addon">00</div>
			</div>
		</div>
		<div class="form-group">
			<?= $this->formSubmit($this->form->get('convert')) ?>
		</div>

		<?= $this->form()->closeTag(); ?>

		<small>Request limited to 100 per hour</small>

	</div>

	<div class="col-sm-4 col-sm-offset-1 result-box">
		<ul class="message-box"></ul>
		<table class="table">
			<tr>
				<td>RUB:</td>
				<td class="currency currency_from"></td>
			</tr>
			<tr>
				<td>PLN:</td>
				<td class="currency currency_to"></td>
			</tr>
		</table>
	</div>

</div>